<ion-view view-title="Establishments">  
<ion-content padding="true">
  <ion-list>
    <ion-item collection-repeat="establishment in establishments | orderBy: criteria" 
              href="#/app/services/{{establishment.id}}" class="item-thumbnail-left">
      <img ng-src="{{baseURL+establishment.image}}">

      <h2>{{establishment.name}}
      <span class="badge badge-balanced">{{establishment.label}}</span></h2>
      <h3>{{establishment.type}}</h3>
      <rating ng-model="establishment.rate" max="maxRating" readonly="readOnly"></rating>
      <p><i class="icon ion-ios-location"></i> {{establishment.distance}} km</p>
    </ion-item>
  </ion-list>
</ion-content>
</ion-view>